n8n/workflow/google-sheet-to-youtube.json
{
  "nodes": [
    {
      "parameters": {
        "sheetId": "your_google_sheet_id",
        "range": "Sheet1!A1:A10",
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const links = items.map(item => item.json.link);\nreturn links.map(link => ({ json: { link } }));"
      },
      "name": "Extract Links",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$json[\"link\"]}}",
        "responseFormat": "json"
      },
      "name": "YouTube API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const summaries = items.map(item => {\n  return {\n    json: {\n      title: item.json.title,\n      summary: item.json.description\n    }\n  };\n});\nreturn summaries;"
      },
      "name": "Summarize Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "your_telegram_chat_id",
        "text": "={{$json[\"summary\"]}}"
      },
      "name": "Telegram",
      "type": "n8n-nodes-base.telegramSendMessage",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    }
  ],
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Extract Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Links": {
      "main": [
        [
          {
            "node": "YouTube API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube API": {
      "main": [
        [
          {
            "node": "Summarize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Data": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}